.shareasale-ads {
}

div.wideSkyScraper {
  width: 100% !important;
  height: auto !important;
}

div.itemDiv {
  width: auto !important;
  margin: 10px !important;
  display: inline-block !important;

  img {
    max-width: 180px;
  }
}

div.itemDiv a, div.itemDiv a:hover {
  background: transparent !important;
  text-decoration: none !important;
}

.shopNowImgDiv {
  display: none !important;
}
