<ng-container *ngIf="config">
    <span *ngIf="colSpec && !externalHref && !colSpec.typeSpec?.linkSpec?.click"
          [routerLink]="routerHref"
          [ngSwitch]="colSpec.type"
          [class.clickable]="!!routerHref"
          [class.hover-underline]="!!routerHref"
          [class.hover-light]="!!routerHref"
          [attr.target]="colSpec.typeSpec?.linkSpec?.target">
        <grid-col-value [item]="item" [colSpec]="colSpec" [config]="config"></grid-col-value>
    </span>
    <span *ngIf="item && colSpec && !externalHref && colSpec.typeSpec?.linkSpec?.click"
          (click)="clickHandler(item,  colSpec, $event)"
          [ngSwitch]="colSpec.type"
          class="clickable"
          [attr.target]="colSpec.typeSpec?.linkSpec?.target">
        <grid-col-value [item]="item" [colSpec]="colSpec" [config]="config"></grid-col-value>
    </span>
    <a *ngIf="colSpec && externalHref" class="grid-col-value clickable hover-underline"
       [href]="externalHref"
       [ngSwitch]="colSpec.type"
       [attr.target]="colSpec.typeSpec?.linkSpec?.target">
        <grid-col-value [item]="item" [colSpec]="colSpec" [config]="config"></grid-col-value>
    </a>
</ng-container>
