<div class="card" *ngIf="SVC.verse">
	<div class="card-header">
		Data Source
	</div>
	<div class="card-content source">
		<div class="row">
			<div class="col">
				<h1>
					{{SVC.verse.book.tome.name}}
					{{ SVC.verse.book.name }}
					{{ SVC.verse.chapterNumber }}:{{ SVC.verse.verseNumber }}
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<a target="_blank" [href]="SVC.verse.translation.infoUrl"
				>{{SVC.verse.translation.publisher}}</a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<a target="_blank" [href]="SVC.verse.translation.infoUrl"
				><img [src]="'/assets/sources/' + SVC.verse.translation.screenshotUrl"
					  alt="site screenshot"/></a>
			</div>
		</div>
		<div class="row dialog-footer">
			<div class="col text-right">
				<button class="btn btn-primary" (click)="closeDialog()">Okay</button>
			</div>
		</div>
	</div>
</div>
