.chapter {
  padding: 1rem;

  .chapter-header {
    font-weight: bold;
  }

  .verse {
    margin-bottom: 1rem;
  }

  #chapterScroll {
    border: 1px solid gray;
    max-height: 60vh;
    overflow: auto;
  }
}
