<div *ngIf="searchChapter?.tome && searchChapter?.selectedVerse" class="chapter">
	<modal-header
			*ngIf="chapterHeader"
			[tomeData]="tomeData"
			[title]="chapterHeader.tomeBook"
			[subTitle]="chapterHeader?.chapterName"
			[subSubTitle]="chapterHeader.translationText? 'Translation: ' + chapterHeader.translationText : undefined"
			(closeRequest)="hideMe()"
	></modal-header>
	<div id="chapterScroll">
		<div class="grid" *ngIf="searchChapter && searchChapter.verses">
			<ng-container *ngFor="let verse of searchChapter.verses">
				<div [class]="'verse ' + (verse.id === searchChapter.selectedVerse?.id? 'highlight':'')">
					<div class="verse-number">Verse: {{ verse.verseNumber }}</div>
					<div class="verse-body">{{ verse.body }}</div>
				</div>
			</ng-container>
		</div>
	</div>
</div>

